version: 2
jobs:
  go-test:
    docker:
      - image: golang:alpine
    working_directory: ~/jwt
    steps:
      - checkout
      - run: apk add git gcc
      - run: go get -u github.com/jstemmer/go-junit-report
      - run: mkdir test-results
      - run:
          name: Base package unit tests
          command: go test -v 2>&1 | go-junit-report > test-results/report.xml
      - run:
          name: HS provider unit tests
          command: go test -v ./alg-hs 2>&1 | go-junit-report > test-results/report-hs.xml
      - run:
          name: RS provider unit tests
          command: go test -v ./alg-rs
      - run:
          name: EdDSA provider unit tests
          command: go test -v ./alg-eddsa 2>&1 | go-junit-report > test-results/report-eddsa.xml
      - run:
          name: Public key unit tests
          command: go test -v ./publickey 2>&1 | go-junit-report > test-results/report-publickey.xml
      - store_test_results:
          path: test-results
  coverage:
    docker:
      - image: golang:alpine
    working_directory: ~/jwt
    steps:
      - checkout
      - run: apk add git curl bash gcc
      - run: curl -o uploader.run https://codecov.io/bash
      - run: chmod +x uploader.run
      - run:
          name: Calculate coverage
          command: go test -coverprofile=coverage.txt . ./alg-hs ./alg-rs ./alg-eddsa ./publickey
      - run:
          name: Upload coverage
          command: ./uploader.run
  go-vet:
    docker:
      - image: golang:alpine
    working_directory: ~/jwt
    steps:
      - checkout
      - run: apk add git
      - run:
          name: go vet
          command: go vet

workflows:
  version: 2
  run-tests:
    jobs:
      - go-test
      - coverage
      - go-vet
